In [12]:
!pip install yfinance
!pip install bs4

Requirement already satisfied: yfinance in c:\users\david\anaconda3\lib\site-packages (0.2.44)
Requirement already satisfied: pandas>=1.3.0 in c:\users\david\anaconda3\lib\site-packages (from yfinance) (2.2.2)
Requirement already satisfied: numpy>=1.16.5 in c:\users\david\anaconda3\lib\site-packages (from yfinance) (1.26.4)
Requirement already satisfied: requests>=2.31 in c:\users\david\anaconda3\lib\site-packages (from yfinance) (2.32.2)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\david\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\david\anaconda3\lib\site-packages (from yfinance) (5.2.1)
Requirement already satisfied: platformdirs>=2.0.0 in c:\users\david\anaconda3\lib\site-packages (from yfinance) (3.10.0)
Requirement already satisfied: pytz>=2022.5 in c:\users\david\anaconda3\lib\site-packages (from yfinance) (2024.1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\david\anaconda3\lib\site-packages (from yfinance) (2.4.2)
Requirement already satisfied: peewee>=3.16.2 in c:\users\david\anaconda3\lib\site-packages (from yfinance) (3.17.7)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\david\anaconda3\lib\site-packages (from yfinance) (4.12.3)
Requirement already satisfied: html5lib>=1.1 in c:\users\david\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\david\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.5)
Requirement already satisfied: six>=1.9 in c:\users\david\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\david\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\david\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.9.0.post0)
Requirement already satisfied: tzdata>=2022.7 in c:\users\david\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\david\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\david\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\david\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.2.2)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\david\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2024.7.4)
Requirement already satisfied: bs4 in c:\users\david\anaconda3\lib\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\david\anaconda3\lib\site-packages (from bs4) (4.12.3)
Requirement already satisfied: soupsieve>1.2 in c:\users\david\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.5)

In [13]:
import yfinance
import pandas as pd
from bs4 import BeautifulSoup
import requests

### Extracting Tesla Stock Data

In [14]:
tesla = yfinance.Ticker("TSLA")
tesla_data = tesla.history(period = "max")
tesla_data.reset_index(inplace=True)
tesla_data.head()

$TSLA: possibly delisted; no price data found  (1d 1925-11-18 -> 2024-10-24)

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []

### Extracting Tesla Revenue Data

In [15]:
tesla_revenue = pd.DataFrame({"Date":[],"Revenue":[]})

In [16]:
url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm"
tesla_rev_html = requests.get(url).text 
tesla_soup = BeautifulSoup(tesla_rev_html,"html.parser")
for row in tesla_soup.find_all('tbody')[1].find_all('tr'):
    cols = row.find_all('td')
    date = cols[0].string
    revenue = cols[1].string
    tesla_revenue = pd.concat([tesla_revenue,pd.DataFrame({'Date':[date],"Revenue":[revenue]})])

In [17]:
tesla_revenue.tail()

         Date Revenue
0  2010-06-30     $28
0  2010-03-31     $21
0  2009-12-31    None
0  2009-09-30     $46
0  2009-06-30     $27

### Extracting Gamespot Stock Data

In [18]:
gme = yfinance.Ticker("GME")

In [21]:
gme_data = gme.history(period= "max")
gme_data.reset_index(inplace = True)
gme_data.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620129,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683250,1.687458,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662209,1.603296,1.662209,6892800,0.0,0.0

### Extracted Gamespot Revenue Data

In [20]:
gme_revenue = pd.DataFrame({"Date":[],"Revenue":[]})

In [24]:
gme_revenue_url = "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html"
gme_rev_html = requests.get(url).text 
gme_soup = BeautifulSoup(tesla_rev_html,"html.parser")
for row in gme_soup.find_all('tbody')[1].find_all('tr'):
    cols = row.find_all('td')
    date = cols[0].string
    revenue = cols[1].string
    gme_revenue = pd.concat([tesla_revenue,pd.DataFrame({'Date':[date],"Revenue":[revenue]})])

In [33]:
gme_revenue.tail()

         Date Revenue
0  2010-03-31     $21
0  2009-12-31    None
0  2009-09-30     $46
0  2009-06-30     $27
0  2009-06-30     $27